{% include 'header.html' %}
    <div class="grid  flex-wrap pt-20">
        <h2 class="hover:bg-green-300  text-2xl text-center font-bold sm:bg-red-700 lg:bg-green-400 ">ENTER THE DATA</h2>
        <form method="post" class="grid grid-rows-4 p-5"  action="{% url "saveform" %}">
            {% csrf_token %}
            <input type="text"  class="bottom-5 w-60   justify-self-center m-2  rounded-xl " name="name1" >
            <input type="text" class="top-5  w-60 justify-self-center m-2 rounded-xl" name="name2" >
            <button type="submit" class="hover:bg-blue-400 w-24 h-10 transition hover:scale-110 hover:translate-y-2 duration-500 delay-100 focus:ring-4 focus:ring-black-900x justify-self-center bg-blue-700 rounded-full active:bg-red-800">submit</button>
            
            
            

        </form>
    </div>
    <style>
        #head{ 

            border: 2px solid black;
        }
        #data{
            border: 2px solid black;
        }
    </style>
    <div class=" text-center flex mx-auto  justify-center ">
        
        {%for i in dbdata %}
        <div class=" p-10  hover:bg-green-200 duration-1000  border-yellow-300 border-r-4 border-t-4 border-l-4 border-opacity-50 border-b-4 m-8 text-center container">
            <p class="text-2xl ">{{i.name}}</p>
            <p class="text-sm overflow-hidden">{{i.description}}</p>
        </div>
        {% endfor %}
        
    </div>
    <p class="mb-80"></p>
</body>
</html>