{% include 'header.html' %}
{% load static %}
    <div class="text-center  grid grid-cols-2 ">
        
        
        <div class="text-white  relative top-36 my-10  ">
        
            <h1 class=" text-5xl  font-thin animate-none ">hello, It's me </h1>
        </br>
           <h1 class=" text-8xl  font-thin animate-pulse hover:scale-110 duration-1000">Asheesh</h1>
        </br></br></br>
            <p class="font-extralight text-xl  relative hover:scale-110 duration-1000 ml-28">
                A passionate  data analyst,
                and digital marketing enthusiast. My curiosity
                and analytical mindset led me to explore the world 
                of data, where I extract valuable insights to drive 
                informed decisions. On the other hand,I am a results-
                driven digital marketer, crafting data-backed strategies
                to fuel business growth and maximize online impact and
                also thrive on tackling challenges and collaborating with
                like-minded individuals to create impactful solutions. 

            </p>
            
           
        </div>
        <div class="">
            <img src="{% static 'images/black2.png' %}" class=" w-[50%] h-[90vh] z-40  top-28 left-32 border-white border-4 rounded-full hover:border-8 duration-700 relative overflow-hidden" alt="Image"  >  
       </div>
       <div class=" border-t-gray-500 w-[200%] mt-60 border-t-[7px] " >
        
    </div>
      
    </div>
   
    
</body>
</html>